@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Montserrat&display=swap");

.codeConatiner {
  font-family: "Bruno Ace", cursive;
}

.downloadButton {
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  outline: none;
  border: 0;
  margin-bottom: 1rem;
  transition: all 0.25s ease;
  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}

.loaderConatiner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.75);

  .loader {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: thick solid #fff;
    border-left: thick solid transparent;
    animation: load 1s normal 0s infinite;
    @keyframes load {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
